.SingleMovie {
    display:flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.single-movie-title {
    font-size :xxx-large;
    margin-top: 21%;
    margin-left: 7%;
}

.single-movie-tagline {
    font-size: x-large;
}

.single-movie-info-container {
    margin-left :3%;
    margin-right:3%;
}

.error-element {
    height: 100vh;
    text-align: center;
}

.error{
    padding-top:90px;
}

.toggle-button {
    border: none;
    background-color: #A4BAB7;
    height: 30px;
    width: 200px;
    margin: 20px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    border-radius: 10px;
  }

  .GridMovie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    margin-left: 2%;
    padding: 5px;
    border-radius: 5px;
  }

  .poster-info-container{
    display:flex;
  }
